# 【1. 依赖与安装】
node_modules/

# 【2. 构建输出】
# Astro 编译后的成品
dist/

# 【3. 缓存与临时文件】
# Astro 的运行时缓存
.astro/
# Vite 的缓存
.vite/

# 【5. 操作系统垃圾文件】
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
desktop.ini

# 【6. 编辑器配置】
# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

# 【7. 日志文件】
npm-debug.log*