
node_modules/
.direnv/

dist/

.astro/
.vite/


.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
desktop.ini


.vscode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.Claude/


npm-debug.log*


.env
.env.*