*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 1.5rem 4rem;
    gap: 1rem;
    min-height: 100vh;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 1.5rem 4rem;
    gap: 1rem;
    min-height: 100vh;
    background-attachment: fixed;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
} */

.header {
    width: 100%;
    z-index: 99;
    position: sticky;
    text-align: center;
}

.navigation--header {
    gap: 1rem;
}

.navigation--header a {
    margin: 0rem;
    padding: 0.3rem 0.7rem;
    border-width: 2px;
}

.navigation {
    justify-content: center;
    display: flex;
    list-style: flex;

}

.navigation a {
    color: rgba(0, 0, 0, 1);
    border-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
    text-decoration: none;
    transition: all 0.5s ease;
    border-style: solid;
}

.navigation a:hover {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.navigation--horizontal {
    flex-direction: row;
    gap: 2rem;
}

.navigation--vertical {
    flex-direction: column;
    gap: 1rem;
}

.footer {
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 1rem 2rem;
    font-size: large;
}

.main {
    display: grid;
    grid-template-columns: 10rem 1fr;
    gap: 1rem;
}

.main__sidebar {
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 1rem;
    max-height: 400px;
    gap: 0.3rem;
}

.main__sidebar p {
    font-size: xx-large;
    margin: 0;
    text-align: center;
}

.main__sidebar img {
    display: block;
}


.navigation--main {
    gap: 0.3rem;
    flex-direction: column;
}

.navigation--main a {
    padding: 0.3rem;
    font-size: x-large;
    text-align: center;
    border-width: 5px;
}

.main__avatar {
    width: 100%;
    display: block;
    /* border-radius: 50%; */
}

.main__content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    min-width: 0;
    gap: 1rem;
}

.main__content--card {
    text-decoration: none;
    color: rgb(0, 0, 0, 1);
    width: 100%;
    padding: 10rem, 2rem;
    height: auto;
}

.main__content--post {
    width: 100%;
    padding: 1rem;
    min-height: 100%;
}

.glass-card {

    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(1px) saturate(180%);


    border-radius: 12px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        inset 0 0 0 1px rgba(255, 255, 255, 0.3);


    padding: 1rem 1.25rem;
    width: 100%;
}