*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* #region @REF-TOKENS */
    --ref-color-black: rgba(0, 0, 0, 1);
    --ref-color-black-a30: rgba(0, 0, 0, 0.3);
    --ref-color-black-a50: rgba(0, 0, 0, 0.5);
    --ref-color-black-a70: rgba(0, 0, 0, 0.7);

    --ref-color-white: rgba(255, 255, 255, 1);
    --ref-color-white-a30: rgba(255, 255, 255, 0.3);
    --ref-color-white-a50: rgba(255, 255, 255, 0.5);
    --ref-color-white-a70: rgba(255, 255, 255, 0.7);

    --ref-color-gray: rgba(127, 127, 127, 1);
    /* #endregion */
}

@media (prefers-color-scheme: light) {
    :root {
        /* #region @SYS-TOKENS */
        --sys-color-text: var(--ref-color-black);
        --sys-color-text-hover: var(--ref-color-white);

        --sys-color-nav-border: var(--ref-color-black-a70);
        --sys-color-nav-border-hover: var(--ref-color-white-a70);

        --sys-color-nav-background: var(--ref-color-white-a30);
        --sys-color-nav-background-hover: var(--ref-color-black-a30);

        --sys-color-card-background: var(--ref-color-white-a30);
        /* #endregion */
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* #region @SYS-TOKENS */
        --sys-color-text: var(--ref-color-white);
        --sys-color-text-hover: var(--ref-color-black);

        --sys-color-nav-border: var(--ref-color-white-a50);
        --sys-color-nav-border-hover: var(--ref-color-black-a50);

        --sys-color-nav-background: var(--ref-color-black-a30);
        --sys-color-nav-background-hover: var(--ref-color-white-a30);

        --sys-color-card-background: var(--ref-color-black-a30);
        /* #endregion */
    }
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 1.5rem 4rem;
    gap: 1rem;
    min-height: 100vh;
    background-image: url("/images/bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.header {
    width: 100%;
    z-index: 99;
    position: sticky;
    text-align: center;
}

.footer {
    width: 100%;
    text-align: center;
    color: var(--sys-color-text);
    padding: 1rem 2rem;
    font-size: large;
}

/* #region @BLOCK: NAVIGATION */

.navigation {
    justify-content: center;
    display: flex;
    list-style: flex;
}

.navigation a {
    color: var(--sys-color-text);
    border-color: var(--sys-color-nav-border);
    background-color: var(--sys-color-nav-background);
    border-radius: 7px;
    text-decoration: none;
    transition: all 0.5s ease;
    border-style: solid;
}

.navigation a:hover {
    color: var(--sys-color-text-hover);
    border-color: var(--sys-color-nav-border-hover);
    background-color: var(--sys-color-nav-background-hover);
    border-radius: 7px;
}

.navigation--header {
    gap: 1rem;
}

.navigation--header a {
    margin: 0rem;
    padding: 0.3rem 0.7rem;
    border-width: 2px;
}

.navigation--main {
    gap: 0.3rem;
    flex-direction: column;
}

.navigation--main a {
    padding: 0.3rem;
    font-size: x-large;
    text-align: center;
    border-width: 5px;
}

/* #endregion */

/* #region @BLOCK: MAIN */

.main {
    display: flex;
    gap: 1rem;
}

/* #region @ELEMENT: SIDEBAR */

.main__sidebar {
    position: sticky;
    top: 1rem;
    align-self: flex-start;
    flex: 0 0 10rem;

    display: grid;
    grid-template-rows: auto auto auto;
    gap: 0.3rem;

    padding: 1rem;
    max-height: 400px;
}

.main__sidebar p {
    color: var(--sys-color-text);
    font-size: xx-large;
    margin: 0;
    text-align: center;
}

.main__sidebar img {
    display: block;
}

/* #endregion */

.main__avatar {
    width: 100%;
    display: block;
    border-radius: 5%;
}

/* #region @ELEMENT: CONTENT */

.main__content {
    align-self: stretch;
    flex: 1;

    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: 1rem;

    min-width: 0;
}

.main__content--card {
    text-decoration: none;
    color: var(--sys-color-text);
    width: 100%;
    padding: 10rem, 2rem;
    height: auto;
}

.main__content--post {
    color: var(--sys-color-text);
    width: 100%;
    padding: 1rem;
    min-height: 100%;
}

/* #endregion */

/* #endregion */

.glass-card {
    background: var(--sys-color-card-background);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);

    border-radius: 12px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        inset 0 0 0 1px rgba(255, 255, 255, 0.3);

    padding: 1rem 1.25rem;
    width: 100%;
}