---
// src/pages/about.astro
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "About";
---

<BaseLayout frontmatter={{ title }}>
    <main class="main__content">
        <div class="main__content--post glass-card">
            <h1 style="text-align: center;">关于</h1>
        </div>
    </main>
</BaseLayout>
