---
// src/pages/blog.astro
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Posts";
const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true }),
);
---

<BaseLayout frontmatter={{ title }}>
    {
        allPosts.map((post: any) => (
            <a class="main__content--card glass-card" href={post.url}>
                <h1>{post.frontmatter.title}</h1>
                <p>
                    Published on:{" "}
                    {post.frontmatter.pubDate.toString().slice(0, 10)}
                </p>
            </a>
        ))
    }
</BaseLayout>
