---
// src/pages/blog.astro
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Siriuns' blog";
---

<BaseLayout frontmatter={{ title }}>
    <main class="main__content">
        <a class="main__content--card glass-card" href="/posts/post"
            ><h1>My First Blog Post</h1>
            <p>Published on: 2025-10-28</p></a
        >
        <a class="main__content--card glass-card" href="/posts/tmux"
            ><h1>About Tmux</h1>
            <p>Published on: 2025-11-07</p></a
        >
        <a class="main__content--card glass-card" href="/posts/linux"
            ><h1>Several Linux Command</h1>
            <p>Published on: 2025-11-17</p></a
        >
    </main>
</BaseLayout>
