---
// src/pages/blog.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import type { Post } from "../types";
const title = "Posts";

const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true }),
) as Post[];

allPosts.sort(
    (a, b) =>
        new Date(b.frontmatter.pubDate).getTime() -
        new Date(a.frontmatter.pubDate).getTime(),
);
---

<BaseLayout frontmatter={{ title }}>
    {
        allPosts.map((post) => (
            <a class="main__content--card glass-card" href={post.url}>
                <h1>{post.frontmatter.title}</h1>
                <p>
                    Published on:{" "}
                    {new Date(post.frontmatter.pubDate).toLocaleDateString(
                        "en-CA",
                    )}
                </p>
            </a>
        ))
    }
</BaseLayout>
