---
// src/pages/main.astro
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Main";
---

<BaseLayout frontmatter={{ title }}>
  <div class="main__content--post glass-card"></div>
</BaseLayout>
