---
// src/pages/main.astro
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "main";
---

<BaseLayout frontmatter={{ title }}>
  <main class="main__content">
    <div class="main__content--post glass-card"></div>
  </main>
</BaseLayout>
