---
import "../styles/global.css";
interface Props {
    href: string;
    title: string;
    content: string;
}
const { href, title, content } = Astro.props;
---

<a class="main__content--card glass-card" href={href}>
    <h1>{title}</h1>
    <p set:html={content} />
</a>
