---
import "../styles/global.css";
interface Props {
    href: string;
    title: string;
    description: string;
}
const { href, title, description } = Astro.props;
---

<a class="main__content--card glass-card" href={href}>
    <h1>{title}</h1>
    <p>
        {description}
    </p>
</a>
