---
import "../styles/global.css";
---

<header class="header decoration__glasscard">
    <nav class="navigation header__navigation">
        <a href="/">main</a>
        <a href="/about">about</a>
        <a href="/blog">blog</a>
    </nav>
</header>
