---
import "../styles/global.css";
---

<header class="header glass-card">
    <nav class="navigation navigation--header">
        <a href="/">main</a>
        <a href="/about">about</a>
        <a href="/blog">blog</a>
    </nav>
</header>
