---
import "../styles/global.css";
---

<header class="header glass-card">
    <nav class="navigation navigation--header">
        <a href="/">Main</a>
        <a href="/about">About</a>
        <a href="/blog">Blogs</a>
        <a href="/tags">Tags</a>
    </nav>
</header>
