---
import "../styles/global.css";
---

<div class="main">
    <aside class="main__sidebar glass-card">
        <img src="/images/siriuns.png" class="main__avatar" />
        <p>Siriuns</p>
        <nav class="navigation navigation--main">
            <a href="/">main</a>
            <a href="/about">about</a>
            <a href="/blog">blog</a>
        </nav>
    </aside>

    <slot />
</div>
