---
import "../styles/global.css";
---

<div class="main">
    <aside class="main__sidebar glass-card">
        <img src="/images/avatar.png" class="main__avatar" />
        <p>Siriuns</p>
        <nav class="navigation navigation--main">
            <a href="/">Main</a>
            <a href="/about">About</a>
            <a href="/blog">Blogs</a>
            <a href="/tags">Tags</a>
        </nav>
    </aside>
    <main class="main__content">
        <slot />
    </main>
</div>
