---
import "../styles/global.css";
import type { BaseFrontmatter } from "../types";

import "katex/dist/katex.min.css";
import { SEO } from "astro-seo";
import { ClientRouter } from "astro:transitions";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Main from "../components/Main.astro";
const { frontmatter } = Astro.props as { frontmatter: BaseFrontmatter };
---

<html lang="en">
    <head>
        <ClientRouter />
        <meta charset="UTF-8" />
        <link rel="icon" type="image/png" href="/images/icon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <SEO
            title={`${frontmatter.title} | Siriuns' blog`}
            description={frontmatter.description ?? "Null Description"}
            openGraph={{
                basic: {
                    title: `${frontmatter.title} | Siriuns' blog`,
                    type: "article",
                    image: "https://siriuns.netlify.app/images/og-image.jpg",
                },
                optional: {
                    description: frontmatter.description ?? "Null Description",
                },
            }}
        />
    </head>

    <body>
        <Header />
        <Main>
            <slot />
        </Main>
        <Footer />
    </body>
</html>
