---
// src/layouts/MarkdownPostLayout.astro
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const formattedDate = new Intl.DateTimeFormat("zh-CN", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
}).format(new Date(frontmatter.pubDate));
---

<BaseLayout frontmatter={frontmatter}>
    <main class="main__content">
        <div class="main__content--post glass-card">
            <h1>{frontmatter.title}</h1>
            <p>
                Published on: {formattedDate}
            </p>
            <p>
                Written by: {frontmatter.author}
            </p>
            <p><slot /></p>
        </div>
    </main>
</BaseLayout>
