---
import type { PostFrontmatter } from "../types";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props as { frontmatter: PostFrontmatter };
---

<BaseLayout frontmatter={frontmatter}>
    <div class="main__content--post glass-card">
        <h1>{frontmatter.title}</h1>
        <p>
            Published on: {
                new Date(frontmatter.pubDate).toLocaleDateString("en-CA")
            }
        </p>
        <p>
            Written by: {frontmatter.author}
        </p>
        <slot />
    </div>
</BaseLayout>
